<nav class="navbar navbar-succes" style="background-color: rgb(169, 168, 168);">
    <a class="navbar-brand" href="/">
      <img src="../../img/logo.png" width="250" height="110" class="d-inline-block align-top" alt="Logo">
    </a>
  </nav>